a {
  cursor: pointer;
}
a.links {
  border: 2px solid white;
  border-radius: 100px;
  padding: 10px;
  line-height: 20px;
  margin:2px;
  
  }
  

a.links:hover {
  background-color: grey;
  color:white;
}

#buttons {
  font-family: 'Century', bold ;
  font-style: normal;
   text-transform: uppercase;
    
}
#buttons {        
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:100vw;
  align-items:start;
  position: absolute;
  top: 40px;
  margin:0;
  left:-85px;
      
}

.logo {
  height: 600px;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:white;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100vw;
  flex-direction: column;
  }

a.links {
   margin: 30 px;
}
#titolo{
  position:relative;
  width: 100vw;
}


header h1 {
  position: absolute;
  top: 150px;
  left:30px ;
  line-height: 70px;
  color: rgb(0, 0, 0,);
 }

header h1 strong {
  font-size: 100px;
 
}

body {
  color: rgb(1, 1, 1);
  font-family: 'Lora', serif;
  margin: 0;
  
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 600px;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}

#main h1 strong {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:center;
  margin-top: 15px;
  font-size: 70px;


}
section {
  font-family:'Times New Roman', Times, serif, bold;
  font-size: normal;
  background-color: #e6e3db;
  display:flex;
  flex-direction: column;
  height:3000px;
  width: 100vw;
  justify-content: space-around;
  text-align: center;
  margin: 0;
  
  }
  
  
  #categorie h1 strong{
    font-size: 45px;
        color: rgb(79, 79, 79);
  }
  #categorie img {
    width: 850px;
    height:500px;
  }
  
  #categorie p{
    font-size: 25px;
    color: rgb(79, 79, 79);
    margin-bottom:150px;
  }

  #main p{
    font-size: 40px;
      
    
  } 
  
  

  .panorami {
    position: relative;
    bottom: 10px;
    border-radius: 10px;
  }
.dettagli {
  position: relative;
  top: 10px;
  border-radius: 10px;
  
}

.primi_piani{
  position: relative;
  bottom: 10px;
  border-radius: 10px;

}

footer {
  background-color: rgb(45, 45, 45);
  padding:80px;
  text-align:center;
  color:ghostwhite;
  font-size: 40px;
  }
  footer p{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
  }

